html, div {
    padding: 0;
    margin: 0;

}
body{
    background:url('images/field1.png');
    padding: 0;
    margin: 0;

}

canvas{
    overflow:hidden;
    position:fixed;
}
#chat{


    width:300px;
    height:100%;
    background-color:blue;
    border-color:black;
    position:fixed;
    right:1px;
    overflow:hidden;
}
#message{
    background-color:red;
    margin-bottom:0px;
    height:120px;
    position:fixed;
    width:300px;
    bottom:0px;


}
#sendMessage{
    color:blue;
    bottom:0px;
}
#messageForm{
    margin-top:0px;

}

textarea{

    width:98%;
    resize:none;
}